<%- include("partials/_header") -%>

<body>
  <%- include("partials/_navigation") -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Update The Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" action="/posts/<%= Post.id %>/?_method=PUT">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <input type="text" class="form-control" placeholder="Title" name="title" id="title" value="<%= Post.title %>" required data-validation-required-message="Please enter post title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <input type="text" class="form-control" placeholder="SubTitle" name="subtitle" id="subTitle" value="<%= Post.subTitle %>">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <input type="text" class="form-control" placeholder="Author" name="author" id="author" value="<%= Post.author %>" required data-validation-required-message="Please enter post author.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <textarea rows="5" class="form-control" placeholder="Article" name="article" id="article" required data-validation-required-message="Please enter a article."><%= Post.article %></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
        </form>
      </div>
    </div>
  </div>

  <hr>
  <%- include("partials/_footer") -%>  

  <!-- Contact Form JavaScript -->
  <script src="/js/jqBootstrapValidation.js"></script>
  <script src="/js/contact_me.js"></script>


</body>

</html>
