<%- include("partials/_header") -%>

<body>
  <%- include("partials/_navigation") -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= Post.title %></h1>
            <h2 class="subheading"><%= Post.subTitle %></h2>
            <span class="meta">Posted by
              <a href="#"><%= Post.author %></a>
              on <%= Post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= Post.article %>
        </div>
      </div>
    </div>
  </article>

  <hr>
  <div style="text-align: center; display: flex; justify-content: center; column-gap: 20px;">
    <a href="/posts/edit/<%= Post.id %>">Update</a>
    <a href="/posts/<%= Post.id %>?_method=DELETE">Delete</a>
  </div>

  <%- include("partials/_footer") -%>

</body>

</html>
